/* tooltip-class*/

.leaflet-tooltip.class-tooltip {
  background: red;
  border: 2px solid red
}

.leaflet-tooltip-left.class-tooltip::before {
  border-left-color: red;
}

.leaflet-tooltip-right.class-tooltip::before {
  border-right-color: red;
}
